[submodule "DFN-Maintenance-GUI-Backend"]
	path = DFN-Maintenance-GUI-Backend
	url = https://github.com/ScottDay/DFN-Maintenance-GUI-Backend.git
	branch = master
	ignore = dirty
[submodule "DFN-Maintenance-GUI-Frontend"]
	path = DFN-Maintenance-GUI-Frontend
	url = https://github.com/ScottDay/DFN-Maintenance-GUI-Frontend.git
	branch = master
	ignore = dirty
[submodule "DFN-Maintenance-GUI-Config"]
	path = DFN-Maintenance-GUI-Config
	url = https://github.com/ScottDay/DFN-Maintenance-GUI-Config.git
	ignore = dirty